<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Scoopi</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<form method="POST">

    <h1>🐶 Scoopi</h1>

    <input type="text"
           name="nom"
           placeholder="Nom du client"
           required>

    <input type="text"
           name="adresse"
           placeholder="Adresse complète"
           required>

    <input type="text"
           name="telephone"
           placeholder="Téléphone">

    <select name="frequence">
        <option value="">Fréquence du service</option>
        <option>Unique</option>
        <option>Hebdomadaire</option>
        <option>Aux 2 semaines</option>
        <option>Mensuelle</option>
    </select>

    <input type="number"
           name="chiens"
           placeholder="Nombre de chiens">

    <input type="text"
           name="acces"
           placeholder="Instructions d'accès à la cour">

    <input type="text"
           name="moment"
           placeholder="Moment préféré pour vous rappeler?">

    <textarea
        name="notes"
        placeholder="Informations supplémentaires (chien dans la cour, clôture, etc.)">
    </textarea>

    <button type="submit">
        Faite une Soumissions en ligne
    </button>

</form>

<div class="map-container">

    <img src="{{ url_for('static', filename='carte_secteur.png') }}"
         alt="Zone de service"
         class="map-image">

    <p class="info-text">
        <strong>Zone actuelle de service.</strong><br><br>

        Nous offrons le nettoyage résidentiel des excréments canins
        directement à domicile.

        Service ponctuel ou récurrent selon vos besoins.

        Les demandes situées dans notre secteur de couverture
        sont traitées automatiquement. 

    <video controls width="100%" style="margin-top:15px; border-radius:10px; border:3px solid #d4d42d;">
        <source src="{{ url_for('static', filename='explication.mp4') }}" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo.
    </video>

    <p class="info-text">
        <strong>Ceci est une Vidéo explicatives.</strong><br><br>

    </p>

</div>

</body>
</html>